.firstRow {
	display: flex;
}
.lookingFor {
	padding-top: 41px;
	padding-left: 48px;
}
.lookingForHeading {
	font-size: 27px;
	margin-bottom: 27px;
	width: 214px;
	line-height: 1.48;
}
ul {
	padding-left: 1em;
}
#transportation {
	list-style: none;
}
.secondRow {
	display: flex;
	margin-top: 50px;
}
.whyParticipate {
	margin-left: 250px;
	margin-right: 130px;
}
#whyParticipateHeading {
	font-size: 27px;
}
.participantReceiveHeading {
	font-size: 27px;
}
ul.dashed {
	list-style-type: none;
	list-style-position: outside;
	padding-left: 1em;
	text-indent: -1em;
}
li.accessTo:before {
	content: "- ";
}
.secondBlackContainer {
	width: 1440px;
	height: 623px;
	background-color: black;
	color: white;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
}
.secondBlackContainerHeadings {
	font-size: 24px;
}
.secondBlackFirstRow {
	padding-top: 50px;
	padding-left: 249px;
	padding-right: 613px;
	padding-bottom: 29px;
	font-size: 27px;
	line-height: 1.22;
}
.secondBlackSecondRow {
	display: flex;
	padding-left: 249px;
	font-size: 16px;
	line-height: 1.25;
}
.product {
	width: 300px;
	padding-bottom: 96px;
}
.market {
	width: 300px;
	padding-left: 20px;
}
.gain {
	width: 300px;
	padding-left: 20px;
}
.secondBlackThirdRow {
	line-height: 1.25;
	padding-left: 249px;
	display: flex;
	font-size: 16px;
	padding-bottom: 50px;
	padding-top: 30px;
}
.competence {
	width: 300px;
}
.investment {
	width: 300px;
	padding-left: 20px;
}
.impact {
	width: 300px;
	padding-left: 20px;
}
.fiveBoxes {
	display: flex;
	justify-content: center;
	margin-bottom: 52.6px;
}
.box {
	margin-right: 13px;
	width: 177px;
	height: 273.4px;
	background-color: black;
	color: #9b9b9b;
	font-size: 20px;
}
.month {
	padding-top: 37px;
	padding-left: 26px;
}
.year {
	padding-left: 26px;
	font-size: 48px;
}
hr.shortLine {
	margin-left: 26px;
    width: 76px;
    border: solid 1px #ff291c;
    margin-bottom: 30px;	
}
#preparation {
	width: 122px;
	padding-left: 26px;
	color: white;
	font-family: 'Fjalla One', sans-serif;
}
#call {
	padding-left: 26px;
	color: white;
	font-family: 'Fjalla One', sans-serif;
}
#selection {
	padding-left: 26px;
	color: white;
	font-family: 'Fjalla One', sans-serif;
}
#pitching {
	padding-left: 26px;
	color: white;
	font-family: 'Fjalla One', sans-serif;
}
#support {
	padding-left: 26px;
	color: white;
	font-family: 'Fjalla One', sans-serif;
}
#lastPage {
	background-image: url("../img/lastPageOptimizedImage.jpg");
	width: 1440px;
	height: 278px;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.lastBoth {
	width: 66%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#lastPageSlushImage {
	width: 15%;
}
#lastPageFirstRow {
	display: flex;
}
#lastPageText {
	color: #9b9b9b;
	font-size: 14px;
	width: 554px;
}
.lastPageSecondRow {
	display: flex;
	justify-content: space-between;
}
a#LastPageAbout {
	margin-left: 210px;
}
.navigationLastPage {
	display: flex;
	font-size: 16px;
	color: #ffffff;
	-webkit-text-stroke: 1px #979797;
}
.endingSlushNepal {
	font-size: 24px;
}
#endingText {
	font-size: 16px;
	color: #ffffff;
	-webkit-text-stroke: 1px #979797;
}
.socialMedia {
	width: 138px;
	float: left;
	display: flex;
	justify-content: space-between;
}
#footer {
	font-size: 16px;
	color: #9b9b9b;
  	width: 1440px;
  	height: 80px;
  	background-color: #4a4a4a;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}
