.secondPage {
	color: white;
	display: flex;
	justify-content: center;
}
.slushStatistics {
	background-image: url("../img/slushStatisticsOptimizedImage.jpg") ;
	width: 490px;
	height: 603px;
	background-size: contain;
	background-repeat: no-repeat;
}
.insideStatistics {
	padding-left: 40px;
	padding-top: 68px;
}
#heading {
	font-size: 48px;
	letter-spacing: -0.7px;
}
hr#longLine {
    width: 134px;
    border: solid 1px #ff291c;
    margin-left: 0px;
}
.numbers {
	font-size: 64px;
	margin-bottom: 7px;
	height: 64px;
}
.text {
	font-size: 24px;
	margin-left: 15px;
}
.whatIsSlush {
	margin-left: 50px;
	color: black;
	font-size: 27px;
}
#slushIntro {
	color: black;
	width: 400px;
	font-size: 16px;
}
.blackContainer {
	display: flex;
	justify-content: center;
	background-color: black;
	align-items: center;
	color: #ffffff;
}
.globalImpact {
	display: flex;
	flex-direction: column;
}
.globalImpactHeading {
	font-size: 27px;
}
.description {
	font-size: 16px;
	line-height: 1.38;
	width: 380px;
}
.whySlush {
	padding-left: 65px;
}
.whySlushHeading {
	padding-top: 57px;
	font-size: 27px;
}